





    .reg-container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: serif;
  }
  
  .img {
    width: 400px;
    height: 545px;
    object-fit: cover; 
  }
  
  .forms-register {
    width: 400px;
    height: 70%;
    background-color:aliceblue;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px; 
  }

  select{
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #ddd;
    background-color: #f4f4f4;
    outline: none;
    transition: all 0.3s ease;
    color: black;
    font-family: cursive;
    margin-top: 27px;
  }


  
  .forms-register h1 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: -13px;
  }
  
  .input-forms {
    display: flex;
    flex-direction: column;
  }
  
  .input-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .form-name {
    width: 45%; 
  }
  
  .form-name label {
    font-weight: bold;
    display: block;
  }
  
  .form-name input,
  .form-name select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .submit-btn {
    display: flex;
    justify-content: center;
    margin-top: 67px;
  }
  
  .submit-btn button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .submit-btn button:hover {
    background-color: #45a049;
  }
  
  .error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
  
 
  
  p a {
    color: #007bff;
    text-decoration: none;
  }
  
  p a:hover {
    text-decoration: underline;
  }

 
  
.main{
  display: flex;
  
}

.form-error {
 padding-left: 25px;
 
}

.form-error label {
  font-size: 16px;
  color: #333;
  margin-left: 30px;
 
  font-weight: bold;
}

.form-error input[type="date"] {
  width: 100%;
  padding:13px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
 
  height:20px;
}

.form-error input[type="date"]:focus {
  outline: none;
  border-color: #0056b3;
  
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}
.list{
  margin-right: 70px;
  margin-top: 30px;
} 
.gender{
  font-weight: bold;
}














    