
.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #007bff, #6610f2);
}


.register-card {
    background: #fff;
    padding: 30px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.register-title {
    font-size: 22px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
   
}


.form-group {
    margin-bottom: 15px;
    text-align: left;
    width: 80%;
}


.form-label {
    font-size: 14px;
    font-weight: 600;
    color: #444;
    margin-bottom: 5px;
    display: block;
    margin-right: 30px;
}
.form-city{
    font-size: 14px;
    font-weight: 600;
    color: #444;
    margin-bottom: 5px;
    display: block;
    margin-right: 354px;
}

.form-input {
    width: 80%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: all 0.3s ease;
    
}

.form-input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}


.dropdown-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
}


.form-dropdown {
    width: 80%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: all 0.3s ease;
    margin-right: 43px;
}

.form-dropdown:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}


.register-button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
    margin-top: 20px;
}

.register-button:hover {
    background: #0056b3;
}


  
  .password-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    
  }
  
 
  
  .password-icon {
    position: absolute;
    right: 10px;
    cursor: pointer;
    font-size: 18px;
    color: gray;
  }
  

@media (max-width: 480px) {
    .register-card {
        width: 90%;
    }
}
