

/* .container{
    background-color: aqua;
    width: 40%;
     text-align: center;
    margin-left: 300px;
    height: 200px; 

} */
/* .login{
    text-align: center;
  } */  

 
 /* .select{
    background-color: blue;
    border-radius: 1px solid;
    font-size: larger;
    display: block;
    inline-size: none;
 } */